<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Edit Slave</title>
</head>
<body>

<h2>Edit Slave</h2>

<form th:method="PATCH" th:action="@{/slaves/{id}(id=${slave.getId()})}" th:object="${slave}">
    Name: <input type="text" th:field="*{name}"/><br/>
    Surname: <input type="text" th:field="*{surname}"/><br/>
    Master:
    <select th:field="*{master}" required>
        <option th:each="master : ${masters}" th:value="${master}" th:text="${master.name}"></option>
    </select><br/>

    <input type="submit" value="Save"/>
</form>
<br/>
<a th:href="@{/slaves}">Back to Slave List</a>
</body>
</html>